/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a & */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


:root {
    /* change the values below to your colors from your palette */
    --primary-color: #396e94   ;
    --secondary-color: #b4d4ee ;
    --accent1-color: black;
    --accent2-color: #b4d4ee;
  
    /* change the values below to your chosen font(s) */
    --heading-font: 'Lato', sans-serif;;
    --paragraph-font: 'Montserrat', sans-serif;;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #396E94;  /* headlines on a white background */ 
    --headline-color-on-color: black; /* headlines on a colored background */ 
    --paragraph-color-on-white: #396E94; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #396E94  ;
    --nav-link-color: #396E94;
    --nav-background-color: #b4d4ee;
    --nav-hover-link-color: black;
    --nav-hover-background-color: #396E94;
}


.home-title {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

a {
    font-weight: bolder;
}
  
body {
    background-color: var(--primary-color);
    font-family: var(--heading-font);
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

header {
    background-color: var(--secondary-color-transparent);
    display: grid;
    grid-template-columns: 150px auto;
}

#content-1 {
    max-width: 1600px;
    margin: 0 auto;
    background-color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-align: center;
    color: var(--accent1-color);
    text-decoration: none;
    padding: 15px 35px;
}

nav a:hover {
    background-color: var(--primary-color);
    color: white;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/-1;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img {
    width: 100%;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

.container {
    margin-top: 200px;
    margin-bottom: 200px;
    margin: auto;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}


#hero-msg h1, #hero-msg h2 {
    text-align: center;
    color: black;
}

#hero-msg h4 {
    margin-top: -25px;
    padding-bottom: 25px;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: var(--secondary-color);
    grid-column: 1/11;
    grid-row: 4/9;
}

.msg {
    background-color: var(--accent2-color);
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 10/10;
}

.msg h2 {
    color: white;
    font-family: var(--heading-font);
}

.msg p {
    font-size: 0.8em;
    padding-bottom: 15px;
}

footer {
    background-color: var(--accent1-color);
    color: lightgray;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer a {
    color: var(--primary-color);
    text-decoration: none;
}

footer a:hover {
    color: var(--secondary-color);
}

footer .social img {
    padding-top: 15px;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.home-title {
    color: black;
    font-family: var(--heading-font) !important;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: var(--accent2-color);
}

.logo {
    width: 100px;
}

#logo-link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}


.card {
    background-color: var(--accent2-color);
    line-height: 1.5em;
    padding: 35px;
    grid-column: 2/10;
    margin: 80px 0;
}

.card-content {
    margin-top: 20px;
    display: flex;
}

.card-text {
    margin-top: 30px;
}

.card-image {
    margin: 0 50px 0 50px;
    width: 200px;
}

.card-img {
    border: 7px solid var(--accent1-color);
    border-radius: 25%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px var(--accent1-color);
}

.card-img:hover {
    opacity: .8;
    transform: scale(1.1);
}

.card-img, .mountains {
    width: 100%;
}

.mountains {
    grid-column: 2/7;
    grid-row: 5/8
}

.icon {
    width: 80px;
    padding-top: 10px;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: black;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}

