/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a & */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


:root {
    /* change the values below to your colors from your palette */
    --primary-color: #396e94   ;
    --secondary-color: #b4d4ee ;
    --accent1-color: #ffc4d1;
    --accent2-color: white;
  
    /* change the values below to your chosen font(s) */
    --heading-font: 'Roboto', sans-serif;;
    --paragraph-font: 'Montserrat', sans-serif;;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #396E94;  /* headlines on a white background */ 
    --headline-color-on-color: blakc; /* headlines on a colored background */ 
    --paragraph-color-on-white: #396E94; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #396E94  ;
    --nav-link-color: #396E94;
    --nav-background-color: #b4d4ee;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #396E94;
}

.home-title {
    font-family: var(--heading-font);
    font-size: 2em;
    font-weight: bolder;
    margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);      
}

h2 {
    margin: 0;
}

p, a {
    font-family: var(--paragraph-font);
}

#logo_link {  padding-top: 5px; }
nav a { padding: 35px;}
.book, .join  { padding: 15px 30px; margin-top: 50px; border-radius: 5px;}
.icon {padding-top: 10px;}
.msg {padding: 35px;}
.msg p {padding-bottom: 15px;}
footer { padding: 25px 50px; margin-top: 200px;}
footer .social img {padding-top: 15px;}

.rivers-card, .camping-card, .rapids-card {margin: 200px 0;}

.card-img { 
    border: 10px solid var(--accent2-color);
}

main section img {
    box-sizing: border-box;
}

nav a {
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}


#content {
    max-width: 100%;
    margin: 0 auto;
}

#hero-img {
    width: 100%;
}

nav a {
    text-align: center;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}


#background {
    height: 725px;
    background-color: #d9c2a3;
}

body {
    background-color: #fcfbfb; 
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color:rgba(20,30,13, .7);
}
nav a:hover {
    background-color: black;
}

nav a:hover {
    background-color: black;
    color: #d9c2a3;
}    

.logo, .icon {
    width: 80px;
}

.join {
    background-color: var(--accent1-color);
    text-decoration: none;
}

nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}    

footer p {
    font-size: 1.2em;
}    

footer p a:hover {
    text-decoration: underline;
}    

.msg, footer {
    background-color:rgba(20,30,13, .7);
}


.fa-facebook {
    background: #3B5998;
    color: white;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}